<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>

    <main class="main">
        <%- include('partials/mobile-product') %>

        <div class="producto-y-descripcion">
            <%- include('partials/scroll-product') %>

            <div class="composition-n-origin">
                <h2 class="h2-product">COMPOSICIÓN & ORIGEN</h2>
                <br>
                <h3 class="h3-product">COMPOSICIÓN</h3>
                <br>
                <p class="comp">EXTERIOR</p>
                <p class="comp">100% algodón</p>
                <br>
                <p class="comp">FORRO</p>
                <p class="comp">100% algodón</p>
                <br>
                <h3 class="h3-product">ORIGEN</h3>
                <br>
                <p>Hecho en China</p>
            </div>
        
            <%- include('partials/main-product') %>

            <div class="description-div">
                <div class="nombre-y-desc-div">
                    <p class="nom-prod">Nombre del Producto&nbsp;&nbsp;&nbsp;<i class="fas fa-bookmark"></i></p>
                    <p class="price">Precio</p>
                    <br>
                    <p>Blazer straight fit confeccionada en tejido de algodón. Cuello con solapas de muesca y manga larga. Bolsillo de vivo en pecho y de solapa en cadera. Cierre frontal de botonadura.</p>
                    <br>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam doloremque aspernatur quo cum, fuga dolor laudantium minima laborum ipsam nostrum nesciunt saepe in unde officiis maiores obcaecati veritatis provident maxime!</p>
                </div>

                <div class="talla-div">
                    <p>Marrón / Topo | 4387/300</p>
                    <br>
                    <h4 class="h4-product">Tallas</h4>
                    <br>
                    <div class="tallas">
                        <button class="button-tallas">S</button>
                        <button class="button-tallas">M</button>
                        <button class="button-tallas">L</button>
                        <button class="button-tallas">XL</button>
                    </div>
                </div>

                <div class="add-to-cart-div">
                    <a href="#">
                        <i class="fas fa-cart-plus"></i>
                    </a>
                    <a href="#">
                        <p>Add to Cart</p>
                    </a>
                </div>

            </div>
        </div>

        <div class="productos-recomendados">
            <h2 class="h2-product">Tal vez te interese</h2>
            <div class="articulos">
                <article class="recomendado">
                    <img src="/img/producto-relacionado1.jpg">
                    <div class="div-cart">
                        <a href="#">
                            <i class="fas fa-cart-plus"></i>
                        </a>
                        <a href="#">
                            <p>Add to Cart</p>
                        </a>
                    </div>
                </article>
                <article class="recomendado">
                    <img src="/img/producto-relacionado2.jpg">
                    <div class="div-cart">
                        <a href="#">
                            <i class="fas fa-cart-plus"></i>
                        </a>
                        <a href="#">
                            <p>Add to Cart</p>
                        </a>
                    </div>
                </article>
                <article class="recomendado">
                    <img src="/img/producto-relacionado3.jpg">
                    <div class="div-cart">
                        <a href="#">
                            <i class="fas fa-cart-plus"></i>
                        </a>
                        <a href="#">
                            <p>Add to Cart</p>
                        </a>
                    </div>
                </article>
                <article class="recomendado">
                    <img src="/img/producto-relacionado4.jpg">
                    <div class="div-cart">
                        <a href="#">
                            <i class="fas fa-cart-plus"></i>
                        </a>
                        <a href="#">
                            <p>Add to Cart</p>
                        </a>
                    </div>
                </article>
                <article class="recomendado">
                    <img src="/img/producto-relacionado5.jpg">
                    <div class="div-cart">
                        <a href="#">
                            <i class="fas fa-cart-plus"></i>
                        </a>
                        <a href="#">
                            <p>Add to Cart</p>
                        </a>
                    </div>
                </article>
                <article class="recomendado">
                    <img src="/img/producto-relacionado6.jpg">
                    <div class="div-cart">
                        <a href="#">
                            <i class="fas fa-cart-plus"></i>
                        </a>
                        <a href="#">
                            <p>Add to Cart</p>
                        </a>
                    </div>
                </article>
                <article class="recomendado">
                    <img src="/img/producto-relacionado7.jpg">
                    <div class="div-cart">
                        <a href="#">
                            <i class="fas fa-cart-plus"></i>
                        </a>
                        <a href="#">
                            <p>Add to Cart</p>
                        </a>
                    </div>
                </article>
                <article class="recomendado">
                    <img src="/img/producto-relacionado8.jpg">
                    <div class="div-cart">
                        <a href="#">
                            <i class="fas fa-cart-plus"></i>
                        </a>
                        <a href="#">
                            <p>Add to Cart</p>
                        </a>
                    </div>
                </article>
                <article class="recomendado">
                    <img src="/img/producto-relacionado9.jpg">
                    <div class="div-cart">
                        <a href="#">
                            <i class="fas fa-cart-plus"></i>
                        </a>
                        <a href="#">
                            <p>Add to Cart</p>
                        </a>
                    </div>
                </article>
            </div>
        </div>
    </main>

    <%- include('partials/footer') %>

    <footer class="main-footer">
        <div class="description-prod">
            <div class="cart">
                <a href="#" class="add-to-cart-1">
                    <p>Add to Cart</p>
                </a>
            </div>
            <div class="description">
                <p class="nom-prod">Nombre del Producto&nbsp;&nbsp;&nbsp;<i class="fas fa-bookmark"></i></p>
                <p class="price">Precio</p>
            </div>
        </div>
    </footer>
</body>
</html>