<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {Title: 'Create Product'}) %>
<body>
    <%- include('partials/header.ejs') %>

    <div class="form-create">

        <form action="/products" method="POST" enctype="multipart/form-data">

            <h1>CREAR PRODUCTO</h1>

            <div>
                <input type="text" name="name" placeholder="Nombre"  id="nombre">
                <br>
                <% if (locals.errors && errors.name) { %>
                    <p class="edit-error">
                        <%= errors.name.msg %>
                    </p>
                <% } %>
                <span class="error-msg"></span>
                <div id="error"></div>
            </div>

            <div>
                <input type="number" name="price" placeholder="Precio">
                <br>
                <% if (locals.errors && errors.price) { %>
                    <p class="edit-error">
                        <%= errors.price.msg %>
                    </p>
                <% } %>
                <span class="error-msg"></span>
    
            </div>
                        

            <div>
                <textarea name="description" cols="30" rows="10" placeholder="Descripción" id="textarea"></textarea>
                <br>
                <% if (locals.errors && errors.description) { %>
                    <p class="edit-error">
                        <%= errors.description.msg %>
                    </p>
                <% } %>
                <span class="error-msg"></span>
            </div>

            <label>Imagenes</label>
            <div>
                    <input type="file" id="img" name="image" multiple>
                    <br>
                    <% if (locals.errors && errors.image) { %>
                        <p class="edit-error">
                            <%= errors.image.msg %>
                        </p>
                    <% } %>
                    <span class="error-msg"></span>
            </div>
           
            <div>
                <input type="text" name="color" placeholder="Color">
                <br>
                <% if (locals.errors && errors.color) { %>
                    <p class="edit-error">
                        <%= errors.color.msg %>
                    </p>
                <% } %>
                <span class="error-msg"></span>
            </div>
            
            <div>
                <label for="sizes">Talles (Ingresar los talles separados por una coma)</label>
                <br>
                <input type="text" name="size">
                <br>
                <% if (locals.errors && errors.size) { %>
                    <p class="edit-error">
                        <%= errors.size.msg %>
                    </p>
                <% } %>
                <span class="error-msg"></span>
            </div>
           
            <div>
                <label for="category">Categorías</label>
                <div class="genre-radio">
                    <input type="radio" name="category" value="Hombre" required>Hombre
                    <input type="radio" name="category" value="Mujer" required>Mujer
                </div>
                <span class="error-msg"></span>
            </div>
          

            <button type="submit" class="btn-with-movement"><span class="text">CREAR</span><span>PRODUCTO</span></button>
            <button type="submit" class="btn-mobile">CREAR PRODUCTO</button>
            <p class="warning" id="warning"></p>
        </form>

    </div>

    <%- include('partials/footer') %>
    <script src="/js/create-product.js"></script>

</body>
</html>
