<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {Title: 'Edit Product'}) %>
<body>
    <%- include('partials/header.ejs') %>

    <div class="form-edit">

        <form action="/products/<%= productToEdit.id %>?_method=PUT" method="POST" enctype="multipart/form-data">

            <h1>EDITAR PRODUCTO</h1>

            <div>
                <input type="text" name="name" placeholder="Nombre" value="<%= productToEdit.name %>"> <span class="error-msg"></span>
            </div>
            <% if (locals.errors && errors.name) { %>
                <p class="edit-error">
                    <%= errors.name.msg %>
                </p>
            <% } %>
            <br>

            <div>
                <input type="text" name="price" placeholder="Precio" value="<%= productToEdit.price %>"> <span class="error-msg"></span>
            </div>
            <% if (locals.errors && errors.price) { %>
                <p class="edit-error">
                    <%= errors.price.msg %>
                </p>
            <% } %>
            <br>
           

            <div>
                <textarea name="description" cols="30" rows="10" placeholder="Descripción" id="desc-textarea"><%= productToEdit.description %></textarea> <span class="error-msg"></span>
            </div>
            <% if (locals.errors && errors.description) { %>
                <p class="edit-error">
                    <%= errors.description.msg %>
                </p>
            <% } %>
            <br>

            <label>Imagenes</label>
            <br>
            <div>
                <input type="file" id="img" name="image" placeholder="Imagen" multiple> <span class="error-msg"></span>
                <div class="edit-imgs">
                    <% productToEditImages.forEach(image => { %>
                            <img src="/img/products/<%= image.image %>">
                    <% }); %>
                </div>
            </div>
            <% if (locals.errors && errors.image) { %>
                <p class="edit-error">
                    <%= errors.image.msg %>
                </p>
            <% } %>
            <br>

            <input type="text" name="color" placeholder="Color" value="<%= productToEdit.color %>">
            <% if (locals.errors && errors.color) { %>
                <p class="edit-error">
                    <%= errors.color.msg %>
                </p>
            <% } %>
            <br>

            <label for="sizes">Talles (Ingresar los talles separados por una coma)</label>
            <br>
            <input type="text" name="size" value="<%= productToEdit.size %>">
            <% if (locals.errors && errors.size) { %>
                <p class="edit-error">
                    <%= errors.size.msg %>
                </p>
            <% } %>
            <br>

            <label for="category">Categorías</label>
            <div class="genre-radio">
                <input type="radio" name="category" value="Hombre" <%= productToEdit.category == 'Hombre' ? 'checked' : null %>>Hombre
                <input type="radio" name="category" value="Mujer" <%= productToEdit.category == 'Mujer' ? 'checked' : null %>>Mujer
            </div>

            <button type="submit" class="btn-with-movement"><span class="text">EDITAR</span><span>PRODUCTO</span></button>
            <button type="submit" class="btn-mobile">EDITAR PRODUCTO</button>
        </form>
    </div>

    <%- include('partials/footer') %>
    <script src="/js/product-edit-form.js"></script>
</body>
</html>