<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {Title: 'Products'}) %>
<body>
    <%- include('partials/header') %>

    <% if (locals.isLogged) { %>
        <% if (locals.userLogged.role_id == 1) { %>
            <section class="product-create">
                <a href="/products/create" class="btn-with-movement"><span class="text">CREAR</span><span>PRODUCTO</span></a>
                <a href="/products/create" class="btn-mobile">CREAR PRODUCTO</a>
            </section>
        <% } %>
    <% } %>

    <main class="products-main">
        <div class="products-div">
            <div class="products">
                <% products.forEach(product => { %>
                    <a href="/products/detail/<%= product.id %>" class="product-a">
                        <article class="product-article">
                            <img src="/img/products/<%= product.images[0].image %>">
                            <div class="div-product-description">
                                <p><%= product.name %></p>
                                <p>$<%= product.price %></p>
                            </div>
                        </article>
                    </a>
                <% }) %>
            </div>
            
        </div>
    </main>

    <%- include('partials/footer') %>

</body>
</html>